{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
    <h2>Add vidoes {{ hall.title }}</h2>
        <form method="post">
            {% csrf_token %}
            {% include "portion/_alert.html" %}
            {% for field in form %}
             <div class="form-group" {% if form.errors %}alert alert-danger {% endif %} >
             {{ field.errors }}
             {{ field.label_tag }}
             {% render_field field class='form-control' %}
             </div>
        {% endfor %}
            <button type="submit" class="btn btn-primary"> Add vidoes</button>
        </form>
        <br>
    <h2>Or</h2>
        <form method="post">
            {% for field in search_form %}
             <div class="form-group" {% if form.errors %}alert alert-danger {% endif %} >
             {{ field.errors }}
             {{ field.label_tag }}
             {% render_field field class='form-control' %}
             </div>
        {% endfor %}
        </form>
        <div id="search_reuslts">
            <div id="maps" class="row">

            </div>

        </div>
        <script>
            var delayTimer ;
            $('#id_search_tram').keyup(function (){
                clearTimeout(delayTimer);
                $('#maps').text('Loading...');
                delayTimer = setTimeout(function (){
                    var  text = $('#id_search_tram').val();
                    $.ajax({
                        url : '{% url 'HollsVid:search_videos' %}',
                        data : {
                            'search_tram':text
                        },
                        dataType:'json',
                        success:function (data){
                            resalt = '';
                            $('#maps').text("")
                            data['items'].forEach(function (vidose){
                                resalt+=`<div class="col-md-4 mt-3"><div class="card mb-4 shadow-sm"><iframe width="100%" height="255" src="https://www.youtube.com/embed/${vidose['id']['videoId']}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>`;

                            });
                            $('#maps').append(resalt)
                        }
                    });
                },1000)
            });
        </script>
    </div>
    </div>

{% endblock %}